{% extends "base.html" %}

{% block content %}

<div class="content-about">

    <p>
        Squash reduces the file size of your images. Every uploaded image is analyzed to apply the best possible JPEG encoding. 
        The result is a quality image without wasting storage or bandwidth! JPEG is the most popular format for photos on your websites
        and apps. Many JPEG files do not use optimal compression, wasting valuable bytes. Balancing quality and small file size used 
        to be a time consuming task that only humans could do. <b>Not anymore. Let us worry about compression.</b>
    </p>

</div>
{% endblock %}