{% extends "base.html" %}

{% block content %}

<div class="content">

    <div class="intro">
        <h1 class="intro-title">
            Compress Your Image
        </h1>
        <p>
            Compress your JPG, JPEG, PNG or GIF while preserving the quality of your image and reducing 
            it to the minimum possible size using the best optimization algorithm.
        </p>
    </div>

    <div class="flashed-messages">
        <p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                {% endif %}
            {% endwith %}
        </p>
    </div>

    <div class="upload-container">
        <h3> Upload your Image</h3>
        <form method="post" action="/" enctype="multipart/form-data">
            <p class="image-upload"><input type="file" name="uploaded_image"> </p>
            <p class="image-upload submit"><input type="submit" value="Upload"></p>
        </form>
    </div>

    <div class="side">
        <p> 
            Squash image compressor is a user friendly and easy to use image compressor. <br/>
            It is built to require minimal user information while delivering desired results.
        </p>
        <br/>
        <ol>
            <li class="step-item">
                <span> Upload the desired image by clicking the upload button showm. </span>
            </li> <br/>
            <li class="step-item">
                <span> Allow the image compressor compress your image without reducing quality. </span>
            </li><br/>
            <li class="step-item">
                <span> Click the download button to download the compressed image.</span>
            </li>
        </ol>
    </div>

</div>

{% endblock %}