/* Basic styling */
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:cursive;
    position: relative;
    min-height: 100vh;
}
.content{
    margin-bottom: 50vh;
}

.nav-title img{
    width:30px;
    height:30px;
}
.nav-menu{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(55, 93, 77);   
}
.nav-menu li{ 
    list-style-type: none;
    padding: 7px;
}
.nav-menu li a{
    text-decoration: none;
    color:beige;
}
.nav-title{
    flex: 1;
    font-size: 22px;
}
.main-name, .toggle, .toggleCancel{
    color: beige;
}
.toggle{
    display: none;
}
.nav-item{
    margin-left: 20px;
}
.nav-item a:hover{
    color: rgb(171, 164, 155);
}
.main-name:hover{
    color: rgb(171, 164, 155);
}
.intro{
    margin-top: 30px;
    align-items: center;
}
.intro-title{
    font-size: 40px;
    text-align: center;
}
.intro p {
    font-size: 18px;
    color: rgb(76, 82, 81);
    padding: 50px 5px 0;
    text-align: center;
}
.flashed-messages{
    text-align: center;
    color:red;
    margin-top: 20px;
}
.upload-container, .download{
    text-align: center;
    border: 3px dotted rgb(37, 67, 65);
    margin: 60px 550px;
    padding: 20px;
}
.image-upload{
    margin-top: 30px ;
}
input[type=submit], .download-button{
    padding: 10px 20px;
    color: beige;
    background: rgb(73, 114, 112);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover, .download-button:hover{
    background: rgb(37, 67, 65);
    
}
.side{
    text-align: center;
    padding:20px;
    margin: 60px 0px 100px 50px;
    background-color:rgb(73, 114, 112) ;
    border: 1px solid rgb(123, 191, 170);
    border-radius: 10px;
    list-style: inside;
    width: 40%;
}
.side p{
    color:beige;
}
.step-item{
    color: beige;
}

.images-display img{
    width:300px;
    height:300px;
    margin: 50px 50px 0px ;
}
.images-display p{
    margin: 0px 50px;
}
.footer{
    background: rgb(55, 93, 77);
    height: 100%;
    width: 100%;
    color: #fff; 
    margin-top: 10px;
    bottom: 0;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li{
    margin: 8px;
}
.socials li a{
    text-decoration: none;
    color: beige;
    border: 1.1px solid beige;
    padding: 2px;
    border-radius: 50%; 
}
.socials li a:hover{
    color: rgb(171, 164, 155);
}

.footer-bottom{
    background: rgb(37, 67, 65);
    width: 100%;
    bottom: 0;
    margin-top: 0px;
    text-align: center;
}
.footer-bottom p{
    color: beige;
}



/*tablet  styling */
@media (max-width: 1300px) and (min-width: 700px){
    .upload-container, .download{
        margin: 60px 400px;
        padding: 20px;
}
.images-display{
    display: flex;
    align-items: center;
    justify-content: center;
}
}

/*laptop styling */
@media(min-width: 1300px){
    .images-display{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*ipad  styling */
@media (max-width: 850px){
    .upload-container, .download{
        margin: 60px 250px;
        padding: 20px;
}
}

/*mobile styling */
@media (max-width: 600px){
    .nav-body ul{
        flex-wrap: wrap;
    }
    .toggle, .toggleCancel{
        display: block;
        font-size: 25px;
    }
    .toggle:hover{
        color: rgb(171, 164, 155);
    }
    .nav-item{
        display: none;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid green;
    }
    .show{
        display: block;
    }
    
    .images-display img{
        margin-bottom: 10px;
        margin-left: 50px;
        width:250px;
        height:250px;
        border: 1px solid red;
    }
    .images-display p{
        margin: 0px 50px 0 190px;
    }
    .side{
        text-align: center;
        padding:10px;
        margin: 60px 37px 70px;
        background-color:rgb(73, 114, 112) ;
        border: 1px solid rgb(123, 191, 170);
        border-radius: 10px;
        width: 80%;
    }
    .upload-container, .download{
        margin: 40px 20px;
        padding: 20px;
    }
    .footer{
        margin-top: 50px;
    }
}
